*{
  margin: 0;
  padding:0;
}
.container{
  width:100%;
  min-height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
 
}
.app-wrapper{
  
  min-width: 650px;
  min-height: 650px;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 1px;
  margin-bottom: 10px;
 
  border: 1px solid black;
}
.header h1{
  
  text-align: center;
  margin: 30px 0;
}
.task-input{
  outline: none;
  width: 260px;
  padding: 15px;
  margin-right: 25px;
  font-size: 20px;
  color:#ccc;
  background-color: #000000;
  border:1px solid #c89666;
  border-radius:10px;
   
}
.button-add{
  width:70px;
  padding: 15px 15px;
  font-size: 20px;
  border-radius: 10px;
  border:0;
  background-color: pink;
  cursor:pointer;
}
.list-item{
  display: flex;
  flex-direction: row;
  background-color: yellow;
}
.todo-item {
  position: relative;
}

.todo-item.active .todo-text{
  outline: 2px solid blue;
  border-radius: 2px;
}

.todo-text {
  margin-right: 10px;
  
  height:40px;
  width: 400px;
  padding: 2px 2px 2px 2px;
}
.submit-button{
  display:flex;
  justify-content: center;
}
.custom-list {
  
  max-height: 300px; 
  overflow-y: auto; 
}





